@charset "UTF-8";

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}


body {
  background-color: $dark;
  color: $light;
}

a {
  color: $red;
}

.img-large {
  width: 100%;
}

.img-small {
  width: 100%;
  max-width: 300pt;
}

.img-smaller {
  width: 100%;
  max-width: 150pt;
}


th {
  padding: 5pt;
}

