@charset "UTF-8";

.gdm-wrapper {
  display: flex;
}

.gdm-nav,
.gdm-view {
  height: 100vh;
}

.gdm-nav {
  flex: 1 0 250px;
  overflow-y: auto;
  overflow-x: hidden;
}

.gdm-view {
  flex: 2 1 66%;
}


body {
  background-color: $dark;
  color: $light;
}

a {
  color: $red;
}

.img-large {
  width: 100%;
}

.img-small {
  width: 100%;
  max-width: 300pt;
}

.img-smaller {
  width: 100%;
  max-width: 150pt;
  border: 2px solid $light;
  background-color: $light;
  padding: 2px;
  margin: 2px;
}

.border {
  border: 5px solid $light;
  background-color: $light;
  padding: 2px;
  margin: 2px;
}


th {
  padding: 10pt;
  padding-right: 25pt;
}

th, td {
  border-bottom: 1px solid #DCE6EF;
}

h4 {
  font-size: 22pt;
  font-weight: bold;
  text-decoration: underline;
  color: $darkred;
}

