$dark:    #2B3141 !default;
$darkred: #9E4446;
$red:     #FA544C;
$light:   #DCE6EF;
$primary: $dark;
$secundary: $darkred;


@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

$font-family-base: Didact Gothic, serif;